### **1. Discuss string slicing and provide examples.**
* String is a data type in programming which help us to store text type of data and strings store the text as a sequence of characters.

 And, String slicing is a method or technique to access a certain part or certain section of the string, i.e., by string slicing we can create or use a substring according to our needs.
    
 As string  is a sequence of characters, with each characters there is index attached, starts from 0. And by using the indices we can use string slicing.


* String slicing help us
    * To manipulate text data,
    * To use only the part of what might needed
    * As strings are immutable, it also helps us to work with different parts of the text data.



*   Syntax - string1[start : end : step]
    * start - the inclusive index to start the slicing (default is 0)
    * end -  the exclusive index to end the slicing (default is the last index)
    * step - in how many step we want the new string (default is 1)

In [ ]:
#EXAMPLE OF STRING SLICING
Name = "Pritam Saha"

len(Name) #To know the length of the string might help.

11

In [ ]:
#To access only the first name
First_name = Name[0:6]      #it might have worked the same even if we didn't mention the start index.
First_name          #will return Pritam

'Pritam'

In [ ]:
#To access the last name
Last_name = Name[-4:]         #using the negative slicing. -4th index character is the 'S'. so starting from S to the end.
Last_name # -4 is 4th character from the last. end index is not mentioned means python will  understand it as 11 by default.

#will return saha

'Saha'

In [ ]:
str1 = "ABCDE FGHIJ"           #total 11 characters. 1 space gap is there.
str1[0:5:2]     #Here we specifically mentioned a step of 2 for upto 5th index (which is the <space> but exclusive). So it will return ACE and skip B and D.

'ACE'

In [ ]:
str1[::3]       #Here for the full string we given a step of 3, means it will jump over two characters each time after registering one character. Means 'A' then jump over 'BC', 'D' the Jump over 'E ' (Here it is E and a <space>),F and go on till the end.

'ADFI'

### **2. Explain the key features of lists in Python.** & **3. Describe how to access, modify, and delete elements in a list with example.**


A list in python is one of the one of the elementary and widely used data structure. It allows us to store multiple types of data within a single list. And also allows us to access, and manipulate the structure using various techniques. All these feature of a list makes it very versatile to use, especially when we need to work with multiple types of data.


---


***Features of list***

1. Stores data in a Odered Collection
> List maintains a order while storing data, which means each element of a list has a specific index and  using those index we can access the specific elements according to our needs. First element of the list has index 0.
2. Mutability
> One of the most important feature of list is that a list is Mutable, which means in list we can modify, add, remove or update elements after the creation of the list.
3. We can sort the elemnts in a list.
4. Unlike Sets, List allows repeated values, which might be usefull where multiple user can have same answer
5. We can perfom slicing in list data structure, somewhat similar to the data type strings but in list each element has an individual index whereas the data type string each character has a index.
6. We can combine or concatenate two lists with the addition operator.
7. List supports nested structure, which means we can store multiple lists or tuples inside a list.

***Some Built in methods to manipulate a list***
> 1. list.append(x)    -- adds an element (x) to the end of the list
> 2. list.insert(index, x)   --adds an element (x) to our desired index
 >3. list.remove(x) -- remove the element (x) from the list
 > 4. list.sort(key, reverse)   -- sort the list. By default it arranges the list in an ascending order. reverse is an boolean argument, by default it is False.
 > 5. list.index(x)  -- helps us to know the index of the element (x) in the list
 > 6. list.pop(index)  -- removes the element of the specified index from the list and returns that element. if we do not specify the index number automatically removes the last element
 >7. list.count(x)  -- count the number of repeatations of a particular element (x)
 >8. list.reverse()  -- reverse the list, last elements becomes first
 > 9. list.clear()  -- clears the list and returns a null list.

In [ ]:
#EXAMPLES

list1 = [9, 5.12, "P", "Mango", 30, True]     #list can store multiple data types
list1

[9, 5.12, 'P', 'Mango', 30, True]

In [ ]:
first_elmt = list1[0]       #accessing elemnts using index, example of a ordered collection
first_elmt

9

In [ ]:
fruits = ['Mango', 'Banana', 'Apple']
print("The original fruit list is: ",fruits)

print("2nd element of the fruit list is: ",fruits[1])      #Example of ordered collection

#modifying the 2nd element from the fruit list
fruits[1] = 'Grapes'
print("The updated fruit list is: ", fruits)   #Example of Mutability

The original fruit list is:  ['Mango', 'Banana', 'Apple']
2nd element of the fruit list is:  Banana
The updated fruit list is:  ['Mango', 'Grapes', 'Apple']

In [ ]:
players = ["Sachin", "Dhoni", "Virat"]
print("The original list is: ", players)


players.append("Rohit")         #adding  another player at the 4th position
print("The updated players list: ", players)    #Example of append


players.remove("Sachin")      #removing a player from the list
print("The active players are: ", players)

The original list is:  ['Sachin', 'Dhoni', 'Virat']
The updated players list:  ['Sachin', 'Dhoni', 'Virat', 'Rohit']
The active players are:  ['Dhoni', 'Virat', 'Rohit']

In [ ]:
fruits.insert(1,"Banana")    #insert method helps us to add an element at our desired index position.
fruits

['Mango', 'Banana', 'Banana', 'Grapes', 'Apple']

In [ ]:
l1 = [1,2,5,3,4,9,10,4,5,5,6,7,8,5,9]       #we have used repeated values
print("The original list is: ", l1)

print("The count of 5 in the list is: ", l1.count(5))    #counting the occurances of 5

l1.sort()       #sort method helps us to arrange the values in a asceding order by default
print("By default sorting, that is in an ascending order: ", l1)

l1.sort(reverse = True)
print("Sorting in descending order: ", l1)

The original list is:  [1, 2, 5, 3, 4, 9, 10, 4, 5, 5, 6, 7, 8, 5, 9]
The count of 5 in the list is:  4
By default sorting, that is in an ascending order:  [1, 2, 3, 4, 4, 5, 5, 5, 5, 6, 7, 8, 9, 9, 10]
Sorting in descending order:  [10, 9, 9, 8, 7, 6, 5, 5, 5, 5, 4, 4, 3, 2, 1]

In [ ]:
fruits2 = ['mango', "apple", "blueberry", "grapes", "watermelon",'bannana']
print("The fruit list is: ",fruits2)

fruits2.sort()
print("After sorting the fruit list: ",fruits2)    #by default it will be on the ascending order. means "a" will be at first.

The fruit list is:  ['mango', 'apple', 'blueberry', 'grapes', 'watermelon', 'bannana']
After sorting the fruit list:  ['apple', 'bannana', 'blueberry', 'grapes', 'mango', 'watermelon']

In [ ]:
# sorting by the length of elements
fruits2.sort(key = len, reverse = False)
print("Sorting by length of each elements: ", fruits2)

Sorting by length of each elements:  ['apple', 'mango', 'grapes', 'bannana', 'blueberry', 'watermelon']

In [ ]:
l3 = [-5,3,2,7,8,9.05,-10,0,6,-7]
print("The original list is: ", l3)

l3.sort()
print("Sorting in ascending order, by default: ", l3)

l3.sort(reverse = True)
print("Sorting in descending order, using reverse argument: ", l3)

l3.sort(key = abs)
print("Sorting by absolute value: ", l3)

l3.sort(key = abs, reverse = True)      #using both arguments
print("Sorting by absolute value in descending order: ", l3)

The original list is:  [-5, 3, 2, 7, 8, 9.05, -10, 0, 6, -7]
Sorting in ascending order, by default:  [-10, -7, -5, 0, 2, 3, 6, 7, 8, 9.05]
Sorting in descending order, using reverse argument:  [9.05, 8, 7, 6, 3, 2, 0, -5, -7, -10]
Sorting by absolute value:  [0, 2, 3, -5, 6, 7, -7, 8, 9.05, -10]
Sorting by absolute value in descending order:  [-10, 9.05, 8, 7, -7, 6, -5, 3, 2, 0]

In [ ]:
#slicing example

l4 = [1,2,3,4,5,6,7,8,9]
print("The original created list: ", l4)

print("List of the first five elements: ", l4[:5])     #upto the 5th element, index = 5 means the 6th element but the end is exclusive, printing upto 5

print("List of last five elements: ", l4[-5:])      #using the negative index, from 5 to 9

print("List of 2nd element to the 2nd last element: ", l4[1:-1])        #that is 2 to 8.

print("List of 2nd element to the 2nd last element with a step of 3: ", l4[1:-1:3])

The original created list:  [1, 2, 3, 4, 5, 6, 7, 8, 9]
List of the first five elements:  [1, 2, 3, 4, 5]
List of last five elements:  [5, 6, 7, 8, 9]
List of 2nd element to the 2nd last element:  [2, 3, 4, 5, 6, 7, 8]
List of 2nd element to the 2nd last element with a step of 3:  [2, 5, 8]

In [ ]:
l5 = [1,5,9,4,3,8,6,7]
print("The original list is: ", l5)

l5.reverse()
print("The reversed list is: ", l5)         #using the reverse method

The original list is:  [1, 5, 9, 4, 3, 8, 6, 7]
The reversed list is:  [7, 6, 8, 3, 4, 9, 5, 1]

In [ ]:
l6 = [1,2,3,4]
print("the index of 3 is: ", l6.index(3))       #using the index method to know the index of a certain element

print("removing the 3rd element and the remoed element is: ", l6.pop(2))            #using the pop method

the index of 3 is:  2
removing the 3rd element and the remoed element is:  3

In [ ]:
# COMBINATION OR CONCATENATION OF TWO LISTS
l7 = [1, 2, 3, 4, "a"]
l8 = [4, 5, 6, 7, 8, "b"]

l7 + l8

[1, 2, 3, 4, 'a', 4, 5, 6, 7, 8, 'b']

In [ ]:
l6.clear()      #clearing the list
l6          #returns a null list

[]

### **4. Compare and contrast tuples and lists with examples.**
In python both Tuples and list are used to store data especially when we need to store multiple types of data within a single structure. Though Tuples and List has some similarities but there are some key differences as well.

***Differences between List and Tuples***

1. The key difference between a Tuple and a List is **Mutability**. A Tuple is NOT mutable, which means once created a Tuple can't be modified. Whereas, List is Mutable.
2. And one elementary difference is in terms of their syntax. We create tuple using a parentheses (), and to create list we use square brackets [].
3. Tuples are usefull when we have a fixed data, like coordinates (x,y) of a place which won't change. On the other side we will want a list when data needs frequent updates or modifications, like our shopping wishlist.


***Few Similarities between List and Tuple***

1. Both stores data in an Ordered collection form which means each element will have a specific index.
2. Both supports multiple data types to be stored in one variable. And both supports nested structure as well which means we can store multiple tuples or list inside a tuple.
3. Both allows element repetitions.
4. Similar to Lists we can combine or concatenate two Tuples too, with the addition operator.

In [ ]:
#EXAMPLES OF DIFFERENCES

t1 = (1, 2, 3.4, 9.12, 5.01, "P")    #supports multiple data types
print("The created tuple: ", t1)

print("\nAccessing the 3rd element from the tuple: ", t1[2])      #by indexing we can access an element in a tuple

t1[2] = 10     #will give an error, saying tuple doesn't support item assignment, which means tuple is IMMUTABLE

The created tuple:  (1, 2, 3.4, 9.12, 5.01, 'P')
Accessing the 3rd element from the tuple:  3.4

TypeError: 'tuple' object does not support item assignment

In [ ]:
nested_t = ( (1,2), (3,4), (5,6), [1,2,3,4] )   #store multiple tupes and list inside a tuple
print("Example of tuple supports nested structure: ", nested_t)

Example of tuple supports nested structure:  ((1, 2), (3, 4), (5, 6), [1, 2, 3, 4])

In [ ]:
t2 = (1,4,9,9,5)        #allows repetitons

print(f"The combined tuple of t1 and t2 is: {t1 + t2}")     #We can combine two tuples

print(f"\nThe count of 9 in the tuple is: { t2.count(9)}")        #we can use count method to know the frequency of an element
print(f"\nThe index of 5 in the tuple is: { t2.index(5)}")        #we can use index method to know the index of an element

#BUT UNLIKE LISTS WE DON'T HAVE THE OTHER METHODS LIKE append(), remove(), insert(), as tuple is immutable

The combined tuple of t1 and t2 is: (1, 2, 3.4, 9.12, 5.01, 'P', 1, 4, 9, 9, 5)
The count of 9 in the tuple is: 2
The index of 5 in the tuple is: 4

### 5. **Describe the key features of sets and provide examples of their use.**

Set is an **Unordered** collection of **Unique** elements. This data structure becomes very useful when we don't want any duplicate elements or don't want any repeated value to be added. In sets we can perform many mathematical set operations like union, intersectioins and differences.

And another key feature of Set is Mutability. A set is **Mutable** so we can add, remove an element from a set.

In [ ]:
my_set = {4, 5, 9, 1, 3, 10, 9, 5, 7, 7, 7}
my_set      #set automatically removes the duplicates and doesn't maintain the order of the elements according to the input that's why set is an unordered collection of unique elements.

{1, 3, 4, 5, 7, 9, 10}

In [ ]:
my_set.add(100)     #adding another number to our set
print("\nThe updated set is: ", my_set)       #MUTABILITY

The updated set is:  {1, 3, 4, 5, 100, 7, 9, 10}

In [ ]:
set1 = {"mango", "apple", "watermelon"}
set2 = {"bannana", "apple", "grapes", "Lichi"}
set3 = {"pineapple", "m2", "a2"}
print("The union of set1 and set2 is: ", set1.union(set2, set3))          #UNION METHOD CREATES ANOTHER UNIQUE SET COMBINING ALL THE SETs

print("\nThe intersection of set1 and set2 is: ", set1.intersection(set2))    # INTERSECTION TO FIND THE COMMON ELEMENT

The union of set1 and set2 is:  {'watermelon', 'm2', 'pineapple', 'grapes', 'apple', 'Lichi', 'a2', 'mango', 'bannana'}
The intersection of set1 and set2 is:  {'apple'}

In [ ]:
# SUPPOSE WE MADE A LONG SHOPPING LIST AND WE AREN'T SURE IF WE'VE ADDED ANY ITEM MULTIPLE TIMES. THEN A SET BECOMES USEFUL

my_shopping_list = ["a", "b", "c", "d", "e", "a", "a", "b", "a", "e"]
print("\nThe original list is: ", my_shopping_list)

set4 = set(my_shopping_list)        #CONVERTING THE LIST TO A SET. REMOVES THE DUPLICATES
print("\nThe unique element of the list is: ", set4)

set5 = {"a", 2, 3}          #CREATING A NEW SET. ALSO THE EXAMPLE SHOWING SET CAN ALSO STORE MULTIPLE DATA TYPES

set5.update(my_shopping_list)           # update() METHOD WORKS SIMILAR TO union() METHOD. BUT UPDATE METHOD MODIFIES THE ORIGINAL SET, WHEREAS UNION METHOD CREATES A NEW SET. BOTH CAN TAKE ANY ITERABLE OBJECT AS ARGUMENT.
print("\nThe updated set is: ", set5)

The original list is:  ['a', 'b', 'c', 'd', 'e', 'a', 'a', 'b', 'a', 'e']
The unique element of the list is:  {'e', 'c', 'a', 'b', 'd'}
The updated set is:  {'e', 2, 3, 'c', 'a', 'b', 'd'}

In [ ]:
#CREATING AN EMPTY SET
set6 = set()

for i in range(1, 11):              #iterating for 10 times
    j = int(input("What's your fav jersey no.: "))          #collecting  fav jersey no.s from 10 individuals
    set6.add(j)             #adding those jersey no.s into our empty set
print(f"\nThe set of fav jersey no.s are: {set6}")

What's your fav jersey no.: 9
What's your fav jersey no.: 10
What's your fav jersey no.: 7
What's your fav jersey no.: 18
What's your fav jersey no.: 45
What's your fav jersey no.: 45
What's your fav jersey no.: 18
What's your fav jersey no.: 7
What's your fav jersey no.: 18
What's your fav jersey no.: 10

The set of fav jersey no.s are: {7, 9, 10, 45, 18}

In [ ]:
set7 = {1,2,3,4,5,6,7,8,9,10}

print(f"Difference operation between {set6} and {set7} is: {set6 - set7}\n")     #Difference operation
print(f"Intersection operation between {set6} and {set7} is: {set6 & set7}\n")     #Intersection operation. 2nd method
print(f"Union operation between {set6} and {set7} is: {set6 | set7 }\n")    #Union operation. 2nd method

Difference operation between {7, 9, 10, 45, 18} and {1, 2, 3, 4, 5, 6, 7, 8, 9, 10} is: {18, 45}

Intersection operation between {7, 9, 10, 45, 18} and {1, 2, 3, 4, 5, 6, 7, 8, 9, 10} is: {9, 10, 7}

Union operation between {7, 9, 10, 45, 18} and {1, 2, 3, 4, 5, 6, 7, 8, 9, 10} is: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 45, 18}

### **6. Discuss the use cases of tuples and sets in Python programming.**

The key difference between a set and a tuple is a Tuple stores ordered data(means each element has a specific index and that's accessible) and it's fixed means Immutabe.

whereas, a sets are consist of unique and unordered data. These differences makes the usecases different.

In [ ]:
#storing name and userid using a tuple. For sensitive info a tuple is useful

details = ("pritam", 1234, "Indian")      #let pritam is the username and 1234 is a unique id. which won't change

#unpacking the details
correct_username,  correct_id, correct_nationality = details        #as the tuple is a ordered collection.

#while login
user = input("Username -  \n")
id = int(input("Your ID- "))
nationality = input("Your Nationality-  ")

#verifying the credentials
if user.lower() == correct_username.lower() and id == correct_id and nationality.upper() == correct_nationality.upper():
    print("\nLogin Successful")
else:
    print("\nWrong credentials!!!!! Login Failed")

#HERE A TUPLE WILL BE CONSIDERED OVER A SET OR LIST BECAUSE A SIGN UP DETAILS LIKE USER NAME AND ID SHOULDN'T BE CHANGED

Username -
PriTam
Your ID- 1234
Your Nationality-  indian

Login Successful

In [ ]:
# Sets are best suited for the cases where we need to have a unique collection which need further updates
# suppose we stores all the emails from our website signup's

emails = ["abc@gmail.com","ade@jio.com", "xyz@pwskills.com","def@yahoo.com","p9@outlook.com","pg5@gmail.com",
                    "abcd@yahoo.com", "rbds@pwskills.com" ]     #list of email address

# now we want to know all the unique domains that has been used
domains = set()        #creating a null set

for email in emails:            #emails is a list. which is iterable. we are iterating through each email of the list.
    email.split("@")            #using this method we split all the emails at "@" this point and extract the 2nd part.
    domains.add(email.split("@")[1])        #adding the extracted domains to our set one by one using the add method
print(f"\nAll the unique domains registered: {domains}")

All the unique domains registered: {'jio.com', 'outlook.com', 'gmail.com', 'pwskills.com', 'yahoo.com'}

### **7. Describe how to add, modify, and delete items in a dictionary with example**

A dictionary in python is a **Mutable** data structures which stores data in a pair format. We specify key and value for each element to create a dictionary. {key : value}

Since the dictionary as a data structure is Mutable so we can add, modify and delete items(pairs) but the key in a dictionary is immutable which means we can't change or modify the originally created keys.

In [ ]:
# ADDING ITEMS TO A DICTIONARY

my_data = {
    "name" : "Pritam",
    "age" : 20,
    "country" : "India"
}

print(f"\nThe initially created dictionary-  {my_data}")

my_data["name"]         #accessing the value of the name key

my_data["Github"] = "pritam-stats"    #one method to add new key-value pair. where "Github" is the key and "pritam" is the value. Using Assignment operator

print(f"\nThe dictionary after adding a new key-value pair: {my_data}")

new_dict = {"Linkedin" : "pritam09",                                                #created another dictionary to add
            "Email" : "co***@gmail.com"}

my_data.update(new_dict)            #using update method to add new pairs to our dictionary

print(f"\nAfter adding another dictionary to the initial dictionary- {my_data}")

The initially created dictionary-  {'name': 'Pritam', 'age': 20, 'country': 'India'}

The dictionary after adding a new key-value pair: {'name': 'Pritam', 'age': 20, 'country': 'India', 'Github': 'pritam-stats'}

After adding another dictionary to the initial dictionary- {'name': 'Pritam', 'age': 20, 'country': 'India', 'Github': 'pritam-stats', 'Linkedin': 'pritam09', 'Email': 'co***@gmail.com'}

In [ ]:
#SIMILARLY USING THE SAME METHODS WE CAN MODIFY THE DICTIONARY, KEEPING THE KEY  UNCHANGED

print(f"Before modificatoin- {my_data}")

my_data["age"] = 21             #Modifying the age using the assignment operator

print(f"\nAfter modification- {my_data}")

my_data.update({"Email": "abc**@outlook.com",       #modifying using the update() method
                "Github": "pr****"})

print(f"\nAfter modification with 2nd method- {my_data}")

Before modificatoin- {'name': 'Pritam', 'age': 20, 'country': 'India', 'Github': 'pritam-stats', 'Linkedin': 'pritam09', 'Email': 'co***@gmail.com'}

After modification- {'name': 'Pritam', 'age': 21, 'country': 'India', 'Github': 'pritam-stats', 'Linkedin': 'pritam09', 'Email': 'co***@gmail.com'}

After modification- {'name': 'Pritam', 'age': 21, 'country': 'India', 'Github': 'pr****', 'Linkedin': 'pritam09', 'Email': 'abc**@outlook.com'}

In [ ]:
#DELETING ELEMENTS FROM DICTIONARY
player_jersey = {"Dhoni": 7,
           "Virat": 18,
           10: "Sachin",
           45: "Rohit"
           }         #for the 3rd and 4th element 10 and 45 is the key

print("\nThe originally created dictionary- ", player_jersey)

#Deleting a specific pair
del player_jersey[45]           #using the del statement by mentioning the key

print(f"\nAfter deleting the last element- {player_jersey}")


#using popitem() method. which by default deletes the last pair and returns the pair as a tuple and we can unpack the tuple
deleted_pair = player_jersey.popitem()
key, value = deleted_pair

print(f"\nUsing the popitem() method- {player_jersey} AND, \nThe deleted pair is: {deleted_pair}")
print(f"\n The key: {key} and the value: {value}")


#Using pop() method. Which deletes the specific pair according to the mentioned key and returns only the value of the pair
deleted_value = player_jersey.pop("Virat")
print(f"Using the pop() method- {player_jersey} AND, \nThe value of the deleted pair is: {deleted_value}")

#By using the clear() method we can delete all items of a dictionary at once and the dictoinary becomes a null dictionary
player_jersey.clear()
print(f"\nAfter using the clear() method- {player_jersey}")       #returns a null dictionary

The originally created dictionary-  {'Dhoni': 7, 'Virat': 18, 10: 'Sachin', 45: 'Rohit'}

After deleting the last element- {'Dhoni': 7, 'Virat': 18, 10: 'Sachin'}

Using the popitem() method- {'Dhoni': 7, 'Virat': 18} AND,
The deleted pair is: (10, 'Sachin')

 The key: 10 and the value: Sachin
Using the pop() method- {'Dhoni': 7} AND,
The value of the deleted pair is: 18

After using the clear() method- {}

### **8. Discuss the importance of dictionary keys being immutable and provide examples.**


One of the most important requirement to create a valid dictionary is the keys of the dictionary has to be immutable or something called hashable.

In python dictionaries are functions as a hash tables. Hash tables are also a type of data structure. When a pair added in the dictionary  python automatically generates an unique numeric value or index via a hash function for the key. Which helps to locate the key and access the value quicker.

Now if we think keys as immutable and we change the key then the hash won't remain unique or constant then python won't be able to locate the correct key and we can't get the value.

For instance, We, the people of India, can be identified by our unique AADHAAR no, it can be example of a key.

That's why for a valid dictionary the key has to be IMMutable object like string, numbers, tuples.

In [ ]:
#EXAMPLES- Trying to  give an mutable object as key

d1 = {
    [1,2,3] : "abd"     #will give an TypeError saying unhashable type object
}
d1

#similar error will show up if we try with any other mutable objects.

TypeError: unhashable type: 'list'

In [30]:
# Example of a valid key of a dictionary
d2 = {
    (0, 1): "Coordinate of point A",         #this is a valid dictionary. Tuple is immutable
    (9,5) : "Coordinate of point B"         #let say the coordinates are fixed
}

d2

{(0, 1): 'Coordinate of point A', (9, 5): 'Coordinate of point B'}